<div id="<%= dom_id offer %>">
  <p>
    <strong>Category:</strong>
    <%= offer.category_id %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= offer.description %>
  </p>
  <p>
    <strong>Discounted price:</strong>
    <%= offer.discounted_price %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= offer.name %>
  </p>
  <p>
    <strong>Original price:</strong>
    <%= offer.original_price %>
  </p>
  <p>
    <strong>Visible:</strong>
    <%= offer.visible %>
  </p>
</div>
