<div id="<%= dom_id category %>">
  <p>
    <strong>Business:</strong>
    <%= category.business_id %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <strong>Visible:</strong>
    <%= category.visible %>
  </p>
  <div>
    <strong>Offers:</strong>
    <% category.offers.each do |offer| %>
      <%= render offer %>
      <p>
        <%= link_to "Show this offer", offer %>
      </p>
    <% end %>
  </div>
</div>
