<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <meta content="initial-scale=1, width=device-width" name="viewport" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>
  <body>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
